<div class="row">
    <span><label class="timer-counter">Time left: {{toHHMMSS(timer)}}</label></span>
</div>
<div class="row quiz-board">
    <span>
        <label class="score-counter">Score: {{scoreCounter}}/{{quiz.length}}</label>
        <label class="quiz-counter">Question: {{currentQuestionIndex + 1}}/{{quiz.length}}</label>
    </span>
</div>
<div class="row">
    <h5>{{quiz[currentQuestionIndex].question}}</h5>
</div>

<!-- Option 1 -->
<div class="form-check margin-top">
    <input [disabled]="isDisableSelection" class="form-check-input" type="radio" name="option" [value]="quiz[currentQuestionIndex].options[0]" id="option1"
        (change)="onOptionSelected(quiz[currentQuestionIndex].options[0])" [(ngModel)]="optionStatus">
    <label class="form-check-label" for="option1">
        {{quiz[currentQuestionIndex].options[0]}}
    </label>
    <img [hidden]="!(isAnswerSelected && reviewAnswer(quiz[currentQuestionIndex].options[0]))" class="quiz-review-cross-icon" src="../../../assets/img/check-mark.png" />
    <img [hidden]="!(isAnswerSelected && !reviewAnswer(quiz[currentQuestionIndex].options[0]))" class="quiz-review-cross-icon" src="../../../assets/img/cross.png" />
</div>

<!-- Option 2 -->
<div class="form-check margin-top">
    <input [disabled]="isDisableSelection" class="form-check-input" type="radio" name="option" [value]="quiz[currentQuestionIndex].options[1]" id="option2"
        (change)="onOptionSelected(quiz[currentQuestionIndex].options[1])" [(ngModel)]="optionStatus">
    <label class="form-check-label" for="option2">
        {{quiz[currentQuestionIndex].options[1]}}
    </label>
    <img [hidden]="!(isAnswerSelected && reviewAnswer(quiz[currentQuestionIndex].options[1]))" class="quiz-review-cross-icon" src="../../../assets/img/check-mark.png" />
    <img [hidden]="!(isAnswerSelected && !reviewAnswer(quiz[currentQuestionIndex].options[1]))" class="quiz-review-cross-icon" src="../../../assets/img/cross.png" />
</div>

<!-- Option 3 (if applicable) -->
<div class="form-check margin-top">
    <input [disabled]="isDisableSelection" class="form-check-input" type="radio" name="option" [value]="quiz[currentQuestionIndex].options[2]" id="option3"
        (change)="onOptionSelected(quiz[currentQuestionIndex].options[2])" [(ngModel)]="optionStatus">
    <label class="form-check-label" for="option3">
        {{quiz[currentQuestionIndex].options[2]}}
    </label>
    <img [hidden]="!(isAnswerSelected && reviewAnswer(quiz[currentQuestionIndex].options[2]))" class="quiz-review-cross-icon" src="../../../assets/img/check-mark.png" />
    <img [hidden]="!(isAnswerSelected && !reviewAnswer(quiz[currentQuestionIndex].options[2]))" class="quiz-review-cross-icon" src="../../../assets/img/cross.png" />
</div>

<!-- Option 4 (if applicable) -->
<div class="form-check margin-top">
    <input [disabled]="isDisableSelection" class="form-check-input" type="radio" name="option" [value]="quiz[currentQuestionIndex].options[3]" id="option4"
        (change)="onOptionSelected(quiz[currentQuestionIndex].options[3])" [(ngModel)]="optionStatus">
    <label class="form-check-label" for="option4">
        {{quiz[currentQuestionIndex].options[3]}}
    </label>
    <img [hidden]="!(isAnswerSelected && reviewAnswer(quiz[currentQuestionIndex].options[3]))" class="quiz-review-cross-icon" src="../../../assets/img/check-mark.png" />
    <img [hidden]="!(isAnswerSelected && !reviewAnswer(quiz[currentQuestionIndex].options[3]))" class="quiz-review-cross-icon" src="../../../assets/img/cross.png" />
</div>

<!-- Next Button -->
<span [ngClass]="enableNextButton === true ? 'margin-top' : 'disabled margin-top'">
    <button type="button" [disabled]="!enableNextButton" class="btn btn-primary" (click)="nextStep()">Next</button>
</span>